.main-banner {
    height: 950px;
    position: relative;
    background-image: url(../images/main-banner.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.main-banner-content {
    margin-top: -160px;
    max-width: 720px;
}

.main-banner-content h1 {
    color: #fff;
    margin-bottom: 0;
    line-height: 1.1;
    font-size: 70px;
    font-weight: 700;
}

.main-banner-content p {
    font-size: 15px;
    color: #fff;
    max-width: 600px;
    margin-top: 25px;
    margin-bottom: 0;
}

.main-banner-content .btn-box {
    margin-top: 30px;
}

.main-banner-content .btn-box .optional-btn {
    display: inline-block;
    color: #fff;
    position: relative;
    margin-left: 20px;
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.main-banner-content .btn-box .optional-btn:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}

.main-banner-content .btn-box .optional-btn:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ff4800;
    transition: 0.5s;
}

.main-banner-content .btn-box .optional-btn:hover {
    color: #fff;
}

.main-banner-content .btn-box .optional-btn:hover:before {
    width: 0;
}

.main-banner-content .btn-box .optional-btn:hover:after {
    width: 100%;
    right: auto;
    left: 0;
}

.featured-services-area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.about-area {
    position: relative;
    z-index: 1;
}

.single-featured-services-box {
    position: relative;
    z-index: 1;
    transition: 0.5s;
    padding: 20px 25px;
}

.single-featured-services-box .icon {
    margin-bottom: 5px;
    color: #ff4800;
    transition: 0.5s;
}

.single-featured-services-box .icon .fi,
.single-featured-services-box .icon .fi:before {
    font-size: 50px;
}

.single-featured-services-box h3 {
    margin-bottom: 0;
    color: #fff;
    transition: 0.5s;
    font-size: 23px;
    font-weight: 700;
}

.single-featured-services-box h3 a {
    color: #fff;
}

.single-featured-services-box h3 a:hover {
    text-decoration: underline;
}

.single-featured-services-box p {
    color: #ddd;
    transition: 0.5s;
    margin-top: 12px;
    margin-bottom: 0;
}

.single-featured-services-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff4800;
    width: 2px;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}

.single-featured-services-box.active .icon,
.single-featured-services-box.active h3,
.single-featured-services-box.active h3 a,
.single-featured-services-box:hover .icon,
.single-featured-services-box:hover h3,
.single-featured-services-box:hover h3 a {
    color: #fff;
}

.single-featured-services-box.active p,
.single-featured-services-box:hover p {
    color: #f0f0f0;
}

.single-featured-services-box.active:before,
.single-featured-services-box:hover:before {
    width: 100%;
}

.feedback-item {
    position: relative;
    z-index: 3;
    margin-left: auto;
    max-width: 555px;
    padding-top: 100px;
    padding-bottom: 100px
}

.feedback-item p {
    margin-bottom: 0;
    color: #fff;
    font-size: 19px;
    font-style: italic
}

.feedback-item:before {
    color: #f8b5a6;
    display: inline-block;
    position: relative;
    margin-top: -15px;
    font-style: normal;
    font-size: 50px;
}

.feedback-item .client-info {
    margin-top: 20px
}

.feedback-item .client-info img {
    width: 75px !important;
    display: none !important;
    margin-bottom: 15px;
    border-radius: 5px
}

.feedback-item .client-info h3 {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}

.feedback-item .client-info span {
    display: block;
    font-weight: 300;
    margin-top: 4px;
    color: #fff
}

.feedback-item:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: #ff4800;
    z-index: -1;
    display: none
}

.client-image {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.client-image img {
    display: none !important;
    width: auto !important
}

.client-image.bg1 {
    background-image: url(../images/clients/client1.jpg)
}

.client-image.bg2 {
    background-image: url(../images/clients/client2.jpg)
}

.client-image.bg3 {
    background-image: url(../images/clients/client3.jpg)
}

.swiper-slide::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 68%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/paint-right.png);
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat
}

.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}

.footer-area {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    background-color: #15171a
}

.circle-map {
    position: absolute;
    top: 20%;
    right: 18%;
    z-index: -1
}

.single-footer-widget {
    margin-bottom: 30px;
    padding: 10px 15px;
}

.single-footer-widget .logo {
    margin-bottom: 20px
}

.single-footer-widget .logo p {
    color: #fff;
    margin-top: 18px;
    margin-bottom: 0
}

.single-footer-widget p {
    color: #fff;
    font-size: 14px
}

.single-footer-widget .social {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}

.single-footer-widget .social li {
    display: inline-block;
    transition: .5s;
    margin-top: 10px;
    margin-right: 10px
}

.single-footer-widget .social li:last-child {
    margin-right: 0
}

.single-footer-widget .social li a {
    width: 35px;
    height: 35px;
    background-color: #212529;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    text-align: center
}

.single-footer-widget .social li a i:before {
    font-size: 13px
}

.single-footer-widget .social li a:hover {
    background-color: #ff4800;
    color: #fff
}

.single-footer-widget h3 {
    margin-bottom: 23px;
    color: #fff;
    position: relative;
    padding-bottom: 6px;
    font-size: 23px;
    font-weight: 700
}

.single-footer-widget h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background: #ff4800
}

.single-footer-widget .footer-services-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}

.single-footer-widget .footer-services-list li {
    margin-bottom: 12px;
    color: #fff;
    font-size: 14px
}

.single-footer-widget .footer-services-list li a {
    display: inline-block;
    color: #fff
}

.single-footer-widget .footer-services-list li a:hover {
    color: #ff4800
}

.single-footer-widget .footer-services-list li:last-child {
    margin-bottom: 0
}

.single-footer-widget .quick-links-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}

.single-footer-widget .quick-links-list li {
    margin-bottom: 12px;
    color: #fff;
    font-size: 14px
}

.single-footer-widget .quick-links-list li a {
    display: inline-block;
    color: #fff
}

.single-footer-widget .quick-links-list li a:hover {
    color: #ff4800
}

.single-footer-widget .quick-links-list li:last-child {
    margin-bottom: 0
}

.single-footer-widget .footer-contact-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none
}

.single-footer-widget .footer-contact-list li {
    margin-bottom: 12px;
    color: #fff;
    font-size: 14px;
    line-height: 1.7
}

.single-footer-widget .footer-contact-list li a {
    display: inline-block;
    color: #fff
}

.single-footer-widget .footer-contact-list li a:hover {
    color: #ff4800
}

.single-footer-widget .footer-contact-list li span {
    font-weight: 700;
    margin-right: 5px
}

.single-footer-widget .footer-contact-list li:last-child {
    margin-bottom: 0
}

.copyright-area {
    background-color: #000;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px
}

.copyright-area p {
    color: #fff
}

.copyright-area p a {
    display: inline-block;
    color: #fff;
    font-weight: 600
}

.copyright-area p a:hover {
    color: #ff4800
}

.copyright-area ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: right
}

.copyright-area ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: normal
}

.copyright-area ul li a {
    color: #fff
}

.copyright-area ul li a:hover {
    color: #ff4800
}

.copyright-area ul li:before {
    content: "";
    width: 4px;
    height: 1px;
    background: #fff;
    left: -15px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
}

.copyright-area ul li:first-child {
    margin-left: 0
}

.copyright-area ul li:first-child:before {
    display: none
}

.circle-map {
    position: absolute;
    top: 20%;
    right: 18%;
    z-index: -1
}

@media only screen and (max-width: 767px) {
    .main-banner {
        height: 100%;
        padding-top: 150px;
        padding-bottom: 60px;
    }

    .main-banner .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-banner-content {
        margin-top: 0;
        max-width: 100%;
        text-align: center;
    }

    .main-banner-content h1 {
        font-size: 35px;
        line-height: 1.2;
    }

    .main-banner-content p {
        margin-top: 20px;
        font-size: 13px;
        max-width: 100%;
    }

    .main-banner-content .btn-box {
        margin-top: 20px;
    }

    .main-banner-content .btn-box .optional-btn {
        margin-left: 15px;
        font-size: 14px;
    }

    .featured-services-area {
        position: relative;
        margin-top: 20px;
    }

    .single-featured-services-box {
        margin-top: 30px;
        text-align: center;
        padding: 15px 20px;
    }

    .single-featured-services-box .icon {
        text-align: -webkit-center;
    }

    .single-featured-services-box .icon .fi:before {
        font-size: 40px;
    }

    .single-featured-services-box h3 {
        font-size: 19px;
    }

    .about-image {
        padding-bottom: 0;
        text-align: center;
    }

    .about-image img {
        width: 100%;
    }

    .about-image img:nth-child(2) {
        display: none;
    }

    .about-content {
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .about-content h2 {
        margin-bottom: 15px;
        font-size: 25px;
    }

    .about-content .features-list {
        text-align: left;
    }

    .about-content .features-list li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about-content .features-list li span {
        padding-left: 25px;
        font-size: 15px;
    }

    .about-content .features-list li i {
        width: 18px;
        height: 18px;
        top: 2px;
        line-height: 14px;
    }

    .about-content .features-list li i:before {
        font-size: 8px;
    }

    .about-content .btn {
        margin-top: 5px;
    }

    .feedback-item {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
        padding: 50px 15px
    }

    .feedback-item p {
        font-size: 15px
    }

    .feedback-item .client-info img {
        display: inline-block !important
    }

    .feedback-item .client-info h3 {
        font-size: 16px
    }

    .feedback-item:after {
        display: block
    }

    .feedback-item:before {
        margin-top: -11px;
        font-size: 35px
    }

    .client-image, .swiper-slide::before {
        display: none
    }

    .swiper-button-next, .swiper-button-prev {
        top: auto;
        bottom: 50px
    }

    .footer-area {
        padding-top: 60px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-banner {
        padding-bottom: 0;
    }

    .main-banner .container-fluid {
        max-width: 540px;
    }

    .about-image {
        padding-bottom: 100px;
        text-align: unset;
    }

    .about-image img {
        width: auto;
    }

    .about-image img:nth-child(2) {
        display: block;
    }

    .feedback-item p {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-banner {
        height: 100%;
        padding-top: 153px;
    }

    .main-banner .container-fluid {
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-banner-content {
        text-align: center;
        max-width: 660px;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
    }

    .main-banner-content h1 {
        font-size: 50px;
    }

    .main-banner-content p {
        max-width: 100%;
    }

    .featured-services-area {
        position: relative;
        margin-top: 50px;
    }

    .single-featured-services-box {
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .single-featured-services-box .icon .fi:before {
        font-size: 45px;
    }

    .single-featured-services-box h3 {
        font-size: 21px;
    }

    .about-image img:first-child {
        width: 70%;
    }

    .about-content {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .about-content h2 {
        font-size: 35px;
    }

    .about-area {
        padding-bottom: 60px;
    }

    .feedback-item {
        max-width: 100%;
        text-align: center;
        padding: 90px 15px
    }

    .feedback-item:after {
        display: block
    }

    .feedback-item p {
        max-width: 645px;
        margin-left: auto;
        margin-right: auto
    }

    .feedback-item .client-info img {
        display: inline-block !important
    }

    .client-image, .swiper-slide::before {
        display: none
    }

    .footer-area {
        padding-top: 80px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-banner .container-fluid {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-banner-content h1 {
        font-size: 55px;
    }

    .single-featured-services-box h3 {
        font-size: 20px;
    }

    .feedback-item {
        margin-left: 0;
        max-width: 100%;
        padding-left: 30px
    }

    .swiper-slide::before {
        width: 75%
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1399px) {
    .feedback-item {
        max-width: 555px
    }
}

@media only screen and (min-width: 1550px) {
    .main-banner {
        height: 100vh;
    }

    .main-banner-content {
        margin-left: 130px;
    }

    .feedback-item {
        max-width: 645px
    }
}
